header {
	height: 90px;
	width: 100;
	background-color: #c12458;

	nav{
		margin: 0 auto;
		width: 1100px;
		display: block;

		a{
			font-size: 20px;
			color: #ffffff;
			line-height: 90px;
			padding: 0 24px 0 24px;
			padding: 0 24px;
			position: relative;

			&:hover{
				color: #fffc27;
				text-decoration: underline;
			}
			&:before{
				content:'';
				border-left: 1px solid #ffffff;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 0;
				display: block;
			}
			&:first-child{
				&:before{
					display: none;
				}
			}
		

		}	
	}
}
