.home{
	background: url(../img/p-1.png);
	background-position: center bottom;
	background-repeat: no-repeat;

	width: 100%;
	height: 752px;
	position: relative;

	.go{
		position: absolute;
		left: 50%;
		margin-left: 231px;
		margin-top: 257px;
		top: 0;
	}	
	.p-3{
		position: absolute;
		left: 50%;
		margin-left: -360px;
		margin-top: 275px;
		top: 0;
	}
	.p-2{
		position: absolute;
		left: 50%;
		margin-left: -349px;
		margin-top: 38px;
		top: 0;
	}
	}

	.section2{
		background-image: url(../img/p2-1.png);
		background-size: auto 100%;
		background-position: center top;
		width: 100%;
		height: 843px;
		position: relative;

		iframe{
			width: 877px;
			height: 547px;
			position: absolute;
			left: 50%;
			margin-left: -437px;
			margin-top: 162px;
			top: 0;
		}
	}

	.section3{
		background-image: url(../img/p3-1.png);
		background-size: auto 100%;
		background-position: center top;
		width: 100%;
		height: 843px;
	}

	.section4{
		background-image: url(../img/p4-3.png);
		background-size: auto 100%;
		background-position: center top;
		position: relative;
		width: 100%;
		height: 843px;
		
		.p4-4{
			position: absolute;
			left: 50%;
			margin-left: -526px;
			margin-top: 77px;
			top: 0;
		}
		.p4-4-1{
			position: absolute;
			left: 50%;
			margin-left: -518px;
			margin-top: 84px;
			top: 0;
			
		}
		.p4-4-2{
			position: absolute;
			left: 50%;
			margin-left: -518px;
			margin-top: 262px;
			top: 0;
		}
		.p4-4-3{
			position: absolute;
			left: 50%;
			margin-left: -518px;
			margin-top: 442px;
			top: 0;
		}
		.p4-4-4{
			position: absolute;
			left: 50%;
			margin-left: -518px;
			margin-top: 621px;
			top: 0;
		}
		.p4-4-5{
			position: absolute;
			left: 50%;
			margin-left: -259px;
			margin-top: 83px;
			top: 0;
		}
		.p4-4-6{
			position: absolute;
			left: 50%;
			margin-left: -259px;
			margin-top: 262px;
			top: 0;
		}
		.p4-4-7{
			position: absolute;
			left: 50%;
			margin-left: -259px;
			margin-top: 442px;
			top: 0;
		}
		.p4-4-8{
			position: absolute;
			left: 50%;
			margin-left: -259px;
			margin-top: 621px;
			top: 0;
		}
		.p4-1{
			position: absolute;
			left: 50%;
			margin-left: 434px;
			margin-top: 72px;
			top: 0;
		}
		.p4-2{
			position: absolute;
			left: 50%;
			margin-left: -532px;
			margin-top: 38px;
			
			.photo-content{
				position: absolute;
				margin-left: 104px;
				margin-top: 100px;
				top: 0;
			}
		}
	}

	.section5{
		background-image: url(../img/p-5.png);
		background-size: auto 100%;
		background-position: center top;
		position: relative;
		width: 100%;
		height: 845px;
		.p-5-1{
			position: absolute;
			left: 50%;
			margin-left: -415px;
			margin-top: 329px;
		}
		.p-5-2{
			position: absolute;
			left: 50%;
			margin-left: -115px;
			margin-top: 34px;
		}
		.video-1{
			width: 560px;
			height: 315px;

			position: absolute;
			left: 50%;
			margin-left: -96px;
			margin-top: 50px;
		}

		.video-2{
			width: 560px;
			height: 315px;
			position: absolute;
			left: 50%;
			margin-left: -96px;
			margin-top: 401px;
		}

	}

	.section6{
		background-image: url(../img/p-6.png);
		background-size: auto 100%;
		background-position: center top;
		position: relative;
		width: 100%;
		height: 839px;

		.p-6-2{
			position: absolute;

			left: 50%;

			margin-left: -526px;
			margin-top: 791px;
		}
		.p-6-1{
			position: absolute;

			left: 50%;

			margin-left: 358px;
			margin-top: 775px;
		}
		}